$white: #ffffff;
$black: #000000;
$disabled-fill: #F2F2F2;

$card: rgba(22, 152, 217, 1);
$card-bg:rgba(242, 242, 242, 1);
$gray: rgba(102, 102, 102, 1);
$weight: rgba(46, 168, 230, 1);
$blue: rgba(34, 167, 233, 1);
$selected: rgba(217, 22, 103, 1);
$disabled: rgba(255, 255, 102, 1);
$selected-pink: rgba(230, 46, 122, 1);
$selected-hover: rgba(229, 46, 122, 1);
$disabled-content: rgba(179, 179, 179, 1);
