extends ./layouts/master.pug

block title
  title Нямушка | Главная

block content
  include ./mixins/card
  
  main
    .wrapper 
      h1 Ты сегодня покормил кота?
      .cards
        +card('card1', '', '', 'Сказочное заморское яство', 'Котэ не одобряет?', 'Нямушка', 'с фуа-гра', '<span>10</span> порций <br> мышь в подарок', '/assets/images/photo.png', '0,5', 'Чего сидишь? Порадуй котэ, <label for="card1"><span>купи</span>.</label>', 'Печень утки разварная с артишоками.', 'Печалька, с фуа-гра закончился.')
        +card('card2', 'true', '', 'Сказочное заморское яство', 'Котэ не одобряет?', 'Нямушка', 'с рыбой', '<span>40</span> порций <br> <span>2</span> мыши в подарок', '/assets/images/photo.png', '2', 'Чего сидишь? Порадуй котэ, <label for="card2"><span>купи</span>.</label>', 'Головы щучьи с чесноком да свежайшая сёмгушка.', 'Печалька, с рыбой закончился.')
        +card('card3', '', 'true', 'Сказочное заморское яство', '', 'Нямушка', 'с курой', '<span>100</span> порций <br> <span>5</span> мышей в подарок <br> заказчик доволен', '/assets/images/photo.png', '5', 'Чего сидишь? Порадуй котэ, <label for="card3"><span>купи</span>.</label>', 'Филе из цыплят с трюфелями в бульоне.', 'Печалька, с курой закончился.')